<div class="page">
  <h1>
    <mat-icon>vpn_key</mat-icon>&nbsp;Mise à jour du mot de passe
  </h1>

  <mat-card>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="login()">
      <mat-card-content>
        <ng-container [ngSwitch]="updatePasswordFormStatus">
          <ng-container *ngSwitchCase="LOGIN_FORM_STATUS.SUCCESS">
            <div class="panel" color="success">
              <div class="panel-icon">
                <mat-icon>check</mat-icon>
              </div>
              <div class="panel-content">
                Mot de passe modifié avec succès. Redirection automatique dans 5 secondes
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="LOGIN_FORM_STATUS.ERROR">
            <div class="form-error">
              {{ updatePasswordFormErrorMessage }}
            </div>
          </ng-container>
        </ng-container>

        <mat-form-field class="full-width">
          <span matPrefix><mat-icon>people</mat-icon> &nbsp;</span>
          <span matSuffix>
                <mat-icon
                  (click)="oldPasswordIsVisible = !oldPasswordIsVisible"
                  class="visibility">
                    <ng-container *ngIf="!oldPasswordIsVisible">visibility</ng-container>
                    <ng-container *ngIf="oldPasswordIsVisible">visibility_off</ng-container>
                </mat-icon>
            </span>
          <mat-label>Mot de passe actuel</mat-label>
          <input
            matInput
            [type]="getOldPasswordType()"
            formControlName="oldPassword"
            name="old-password"
            autocomplete="current-password">
        </mat-form-field>
        <mat-form-field class="full-width">
          <span matPrefix><mat-icon>password</mat-icon> &nbsp;</span>
          <span matSuffix>
                <mat-icon
                  (click)="newPasswordIsVisible = !newPasswordIsVisible"
                  class="visibility">
                    <ng-container *ngIf="!newPasswordIsVisible">visibility</ng-container>
                    <ng-container *ngIf="newPasswordIsVisible">visibility_off</ng-container>
                </mat-icon>
            </span>
          <mat-label>Nouveau mot de passe</mat-label>
          <input
            matInput
            [type]="getNewPasswordType()"
            formControlName="newPassword"
            name="new-password"
            autocomplete="new-password">
        </mat-form-field>
        <mat-form-field class="full-width">
          <span matPrefix><mat-icon>password</mat-icon> &nbsp;</span>
          <mat-label>Confirmation</mat-label>
          <span matSuffix>
                <mat-icon
                  (click)="confirmNewPasswordIsVisible = !confirmNewPasswordIsVisible"
                  class="visibility">
                    <ng-container *ngIf="!confirmNewPasswordIsVisible">visibility</ng-container>
                    <ng-container *ngIf="confirmNewPasswordIsVisible">visibility_off</ng-container>
                </mat-icon>
            </span>
          <input
            matInput
            [type]="getConfirmNewPasswordType()"
            formControlName="confirmNewPassword"
            name="confim-new-password"
            autocomplete="new-password"
            [errorStateMatcher]="confirmNewPasswordMatcher">
          <mat-error *ngIf="updatePasswordForm.hasError('mismatch')">Les mots de passe ne correspondent pas </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <a
          type="button"
          mat-raised-button
          class="float-right"
          [routerLink]="['/app/interventions']"
        >Retour
        </a>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="float-right"
          [disabled]="!updatePasswordForm.valid || updatePasswordFormStatus === LOGIN_FORM_STATUS.APPLYING"
        >Modifier
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
