@import '../../../../../variables.scss';

h1 {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;

}

.families-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.example-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 400px;
    background-color: white;
    margin: 10px;

    img {
        max-width: 300px;
        max-height: 200px;
        overflow: hidden;
    }
}