@import 'src/variables.scss';

.role-circle {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    border-radius: 20px;
    margin-right: 5px;

    &.NotGranted {
        background-color: map-get($map: $colors, $key: danger);
    }

    &.Planner {
        background-color: map-get($map: $colors, $key: success);
    }

    &.Technician {
        background-color: map-get($map: $colors, $key: dark-primary);
    }
}

.panel {
    background-color: map-get($map: $colors, $key: primary);
    padding: 40px;
    border: 5px solid map-get($map: $colors, $key: dark-primary);
    margin: 20px;

}

a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin: 20px;
}

form{
    margin: 20px;
}