@import '../../../../../variables.scss';

form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

::ng-deep .mat-datepicker-content {
    background-color: white !important;
   }

