
<h1>Liste des enfants</h1>
<div class="button-container">
  <a mat-button [routerLink]="['create']">AJOUTER UN ENFANT</a>
</div>

<div class="baby-container" *ngIf="babies$ | async as babies">
<div class="baby" *ngFor="let baby of babies">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{baby.firstName}} {{baby.lastName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>Date de naissance: {{baby.birthDate | date: 'dd/MM/yyyy'}}</div>
          <div>Lieu de naissance: {{baby.birthLocation}}</div>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="[baby.id]">CHOISIR</a>
          <a mat-button [routerLink]="[baby.id, 'edit']">MODIFIER</a>
          <a mat-button (click)="deleteBaby(baby.id)">SUPPRIMER</a>
        </mat-card-actions>
    </mat-card>

</div>

</div>