@import '../../../../../variables.scss';

h1 {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;

}

.button-container{
    display: flex;
    justify-content: flex-end;
}

a{
    margin-right: 50px;
    text-decoration: none;
    padding: 0 10px;
    background-color: map-get($map: $colors, $key: dark-primary);
    color: black;

}