
    <h1 *ngIf="!familyId">Ajouter une famille</h1>
    <h1 *ngIf="familyId">Modifier la famille</h1>


        <form [formGroup]="form">

            <mat-form-field appearance="legacy">
                <mat-label>Nom de la famille</mat-label>
                <input matInput placeholder="Nom" type="text" formControlName="name" name="name">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Lien de parenté</mat-label>
                <mat-select formControlName="familyRelationShip">
                    <mat-option value="parent">Parent</mat-option>
                    <mat-option value="grandparent">Grand-parent</mat-option>
                    <mat-option value="uncle / aunt">Oncle/Tante</mat-option>
                    <mat-option value="godparent">Parrain/Marraine</mat-option>
                    <mat-option value="other">Autre</mat-option>
                </mat-select>
            </mat-form-field>

            <button *ngIf="familyId" mat-button (click)="submit()" [disabled]="!formIsValid">Modifier famille</button>
            <button *ngIf="!familyId" mat-button (click)="submit()" [disabled]="!formIsValid">Créer famille</button>
        </form>


