@import "../../../../variables.scss";

:host {
    .error {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
        mat-icon {
            color: map-get($colors, danger);
            margin-right: 10px;
        }
        .error-content {
            overflow-wrap: anywhere;
            display: flex;
            flex-direction: column;
            .error-message {
                text-align: center;
            }
            .error-detail {
                font-size: $font-size-detail;
            }
            .error-detail.url {
                word-break: break-all;
            }
        }
    }
    .actions {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}