<mat-toolbar color="primary">
  <a id="logo" [routerLink]="['']" class="link">
    <img src="/assets/img/logo-50.png"/>
    <span id="logo-text">Sioule Sancy Incendie</span>
  </a>
  <button id="nav_menu" mat-button [matMenuTriggerFor]="links">
    <mat-icon>menu</mat-icon>&nbsp;Navigation
  </button>
  <mat-menu #links="matMenu" yPosition="below">
    <a
      mat-button
      [routerLink]="['interventions']"
      [routerLinkActive]="['active-link']"
    >
      <mat-icon color="light">assignment</mat-icon>
      <span class="side-menu_label">
                    Interventions
                </span>
    </a>
    <a
      mat-button
      [routerLink]="['sites']"
      [routerLinkActive]="['active-link']"
    >
      <mat-icon color="light">place</mat-icon>
      <span class="side-menu_label">
                    Sites
                </span>
    </a>
    <a
      mat-button
      [routerLink]="['reports']"
      [routerLinkActive]="['active-link']"
    >
      <mat-icon color="light">assignment_turned_in</mat-icon>
      <span class="side-menu_label">
                    Comptes rendus
                </span>
    </a>
    <a
      mat-button
      [routerLink]="['users']"
      [routerLinkActive]="['active-link']"
    >
      <mat-icon>supervised_user_circle</mat-icon>
      <span class="side-menu_label">
                    Utilisateurs
                </span>
    </a>
  </mat-menu>
  <span class="spacer"></span>
  <span id="app-version">v{{currentApplicationVersion}}<span id="release-stage">&nbsp;alpha</span></span>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <mat-icon>settings</mat-icon>&nbsp;{{(user$ | async)?.username}}</button>
  <mat-menu #userMenu="matMenu" yPosition="below">
    <a mat-menu-item [routerLink]="['/auth/update-password']">
      <mat-icon>password</mat-icon>
      <span>Mettre à jour mon mot de passe</span></a>
    <button mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Me déconnecter</span></button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container id="sidenav">
    <mat-drawer mode="side" opened>
        <div class="side-menu">
            <a
                mat-button
                [routerLink]="['sites']"
                [routerLinkActive]="['active-link']"
                >
                <mat-icon color="light">place</mat-icon>
                <span class="side-menu_label">
                    Sites
                </span>
            </a>
            <a
                mat-button
                [routerLink]="['interventions']"
                [routerLinkActive]="['active-link']"
            >
                <mat-icon color="light">assignment</mat-icon>
                <span class="side-menu_label">
                    Interventions
                </span>
            </a>
            <a
                mat-button
                [routerLink]="['reports']"
                [routerLinkActive]="['active-link']"
                >
                <mat-icon color="light">assignment_turned_in</mat-icon>
                <span class="side-menu_label">
                    Comptes rendus
                </span>
            </a>
            <a
                mat-button
                [routerLink]="['users']"
                [routerLinkActive]="['active-link']"
                >
                <mat-icon>supervised_user_circle</mat-icon>
                <span class="side-menu_label">
                    Utilisateurs
                </span>
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content class="layout-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner color="accent" diameter="50"></mat-spinner>
  </div>
</ng-template>
