@import 'src/variables.scss';

.users-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: map-get($map: $colors, $key: primary);
    padding: 15px;
    margin-bottom: 8px;
    align-items: center;
}

.actions {
    padding-bottom: 15px;
}

a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

button{
    background-color: map-get($map: $colors, $key: dark-primary);
}

.page-content{
    max-width: 90%;
    margin: auto;
}

.users-item_names{
    font-weight: 500;
}

app-confirmation-dialog{
    background-color: white;
}
